<!DOCTYPE html>
<html>

<head>
    <title>
        The main page
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
        let outtext = "";
    </script>
</head>

<body>
    <h1>
        The main Page
        <!--
        <p><a href="http://192.168.1.175:7900/HelloWorld/">Click here to go to the about page absolute link</a></p>
        <p><a href="/HelloWorld/">Click here to go to the about page relative link</a></p>
        -->
<p></p>
        This is a demonstration of how RSA cryptography works. We first need 3 prime numbers, p q and n. Put any 3 numbers in the corresponding text boxes and then click the button to find the next availble prime numbers.
        <p></p>
        p = <input type="text" id="p" name="p" required minlength="4" maxlength="8" size="10" />
        <p></p>
        q = <input type="text" id="q" name="q" required minlength="4" maxlength="8" size="10" />
        <p></p>
        n = <input type="text" id="n" name="n" required minlength="4" maxlength="8" size="10" />

        <!--
        <p><a href="/?p=$p&q=$q&n=$n">Click here to calculate</a></p>
            -->
            <p></p>
        <button onclick="SendToCalculate()">Step 1. Find the prime numbers</button>
        <p></p>
        RSA cryptography is a form of asymmetric cryptography.  In asymmetric cryptography, a public key is distributed to everyone, but only 1 person holds the private key.
        <p></p>
        Data encrypted by the public key can only be decrypted by the private key.  This is used to establish a secure communication channel with the private keyholder
        <p></p>
        Data encrypted by the private key can only be decrypted by the public key.  This is used by the private key holder to digitally sign information.
        <p></p>
        Using p, q and n.  We will create the public and private key pair.  The private key is a number so that [private key]*n/((p-1)*(q-1)) has a remainder of 1.
        <p></p>
        next prime of p is<div id="pprime"></div>
        next prime of q is<div id="qprime"></div>
        next prime of n (that is coprime with (p-1)*(q-1)) is<div id="nprime"></div>
        The modulus is <div id="pq"></div>
        The private key is <div id="pkey"></div>
        <p></p>
        We want to transmit a secret number to the private key holder.  The private key holder provides us the modulus p*q and n.  To encrypt the secret number, a.k.a. plaintext so that no one else can read it, we need to raise the secret number to the n power and fetch the remainder when divided by the modulus.
            <p></p>
            Input a secret number that is smaller than the modulus.
            <p></p>
            plaintext = <input type="text" id="plaintext" name="plaintext" required minlength="4" maxlength="8" size="10" />

            <button onclick="Encrypt()">Step 2. Encrypt the secret number</button>

        <p></p>
        The when the plain text is encrypted through the function, the resulting ciphertext is: <div id="ctext"></div>

        <p></p>
        To convert the ciphertext back to the plaintext, we raise the ciphertext to the private key's power and divide it by the modulus and get the remainder

        <div id="normaltext"></div>

        Only the private key holder can turn the cipher text back to the plain text by doing the exponent modulo with the private key.

    </h1>
</body>

<script>
    outscript = ''
    pprime = 0
    qprime = 0
    nprime = 0
    pkey = 0
    function SendToCalculate() {
        //document.getElementById('Text').innerHTML = outscript;

        //Retrieving the variables from the document I suppose
        var p = document.getElementById('p').value
        var q = document.getElementById('q').value
        var n = document.getElementById('n').value

        //concatenatedurl = "/?p=" + p + "&q=" + q + "&n=" + n
        //console.log(concatenatedurl)
        //window.location.href = concatenatedurl
        increment = ''
        jQuery.ajax({
            type: "POST",
            //url: '/calculate' + concatenatedurl,
            url: '/calculate/',
            dataType: 'json',
            async: false,
            //data: { p: p, q: q },
            data: { 'p': p, 'q': q, 'n': n, 'csrfmiddlewaretoken': '{{ csrf_token }}', },

            success: function (outdata, outtext, xmldata) {
                console.log('success I think?')
                increment = outdata;
                console.log(outdata)
                console.log(increment)
                console.log(xmldata.responseText)
                outscript = outdata["ResponseText"]
                pprime = outscript.split(",")[0]
                qprime = outscript.split(",")[1]
                nprime = outscript.split(",")[2]
                pkey = outscript.split(",")[3]
                console.log(pprime)
                console.log(qprime)
            },

            error: function (result) {
                console.log("didnt work i think")

            }


        }
        );
        console.log("end of script")
        document.getElementById('pprime').innerHTML = pprime;
        document.getElementById('qprime').innerHTML = qprime;
        document.getElementById('nprime').innerHTML = nprime;
        document.getElementById('pq').innerHTML = pprime*qprime;
        document.getElementById('pkey').innerHTML = pkey;

    }

    function Encrypt() {
        var p = document.getElementById('pprime').value
        var q = document.getElementById('qprime').value
        var n = document.getElementById('nprime').value
        var plaintext = document.getElementById('plaintext').value 
        console.log(nprime)
        jQuery.ajax({
            type: "POST",
            //url: '/calculate' + concatenatedurl,
            url: '/encrypt/',
            dataType: 'json',
            async: false,
            //data: { p: p, q: q },
            data: { 'plaintext': plaintext, 'n': nprime, 'pq': pprime*qprime, 'csrfmiddlewaretoken': '{{ csrf_token }}', },

            success: function (outdata, outtext, xmldata) {
                console.log('success I think?')
                
                outscript = outdata["ResponseText"]
                console.log(outscript)
            },

            error: function (result) {
                console.log("didnt work i think")

            }


        }
        );
        document.getElementById('ctext').innerHTML = outscript;

    }

    function RefreshValues() {
        document.getElementById('Text').innerHTML = outscript;
    }

    //setInterval(RefreshValues, 1000);

</script>


</html>