<!DOCTYPE html>
<html>

<head>
    <title>
        The main page
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
        let outtext = "";
    </script>
</head>

<body>
    <h1>
        The main Page
        <p><a href="http://192.168.1.175:7900/HelloWorld/">Click here to go to the about page absolute link</a></p>
        <p><a href="/HelloWorld/">Click here to go to the about page relative link</a></p>


        p = <input type="text" id="p" name="p" required minlength="4" maxlength="8" size="10" />
        <p></p>
        q = <input type="text" id="q" name="q" required minlength="4" maxlength="8" size="10" />
        <p></p>
        n = <input type="text" id="n" name="n" required minlength="4" maxlength="8" size="10" />

        <p><a href="/?p=$p&q=$q&n=$n">Click here to calculate</a></p>

        <button onclick="SendToCalculate()">Click to Calculate</button>




    </h1>
</body>

<script>

    function SendToCalculate() {

        //Retrieving the variables from the document I suppose
        var p = document.getElementById('p').value
        var q = document.getElementById('q').value
        var n = document.getElementById('n').value

        concatenatedurl = "/?p=" + p + "&q=" + q + "&n=" + n
        console.log(concatenatedurl)
        //window.location.href = concatenatedurl
        increment = ''
        jQuery.ajax({
            type: "POST",
            //url: '/calculate' + concatenatedurl,
            url: '/calculate/',
            dataType: 'json',
            //data: { p: p, q: q },
            data: { 'p': '5', 'q': '6', 'csrfmiddlewaretoken': '{{ csrf_token }}', },

            success: function (outdata, outtext, xmldata) {
                console.log('success I think?')
                increment = outdata;
                console.log(outdata)
                console.log(increment)
                console.log(xmldata.responseText)

            },

            error: function (result) {
                console.log("didnt work i think")

            }


        }
        );
        console.log("end of script")
        console.log(increment)

    }

    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }

</script>


</html>